/* polices d'écritures */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro&family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* définitions des variables de couleur */

:root{
    --darkModeBody: grey;
    --darkModeNav: black;
    --darkModeText: white;
}

.lightTheme {
    --darkModeBody: white;
    --darkModeNav: rgb(49, 49, 49);
    --darkModeText: black;
}

/* style groupé */

* {
    font-family: 'Advent Pro';
}

body {
    background-color: var(--darkModeBody);
}

/* Suppression de toutes les text decorations */

a {
    text-decoration: none;
}

/* Barre de navigation */

#navbar {
    /* Apparence */
    font-size: max(12px, 1vw);
    overflow: hidden;
    background-color: var(--darkModeNav);
    position: fixed;
    width: 100vw;
    opacity: 0.8;
    left: 0px;
    top: 0px;
    min-height: 40px;
    z-index: 1;
    /* Flexbox */
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
}

#textNav {
    /* Apparence */
    list-style-type: none;
    color: var(--darkModeText);
    text-decoration: none;
    /* Flexbox */
    float: left;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
    transform: translateX(0%);
}

#textNav li, #navbar a {
    color: white;
    font-weight: 500;
}

#lightAndDarkIcon {
    height: 2vw;
    cursor: pointer;
}

/* Pour décoler l'écriture du bord */

#textNav li {
    margin-right: 2%;
}

/* Logos réseaux */

#logos {
    /* Apparence */
    font-size: 2vw;
    /* Flexbox */
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
    transform: translateX(-20%);
}

/* Footer */

#formContact {
    /* apparance */

    /* flexbox */
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: space-around;
}

footer {
    /* apparence */
    font-size: 0.5em;
    position: absolute;
    left: 0;
    height: 10vh;
    width: 100%;
    opacity: 0.8;
    background-color: var(--darkModeNav);
    color: white;
    size: cover;
    z-index: 1;
    /* flexbox */
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: center;
}